<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="../../public/css/burger_style.css" type="text/css" />
		<title>Eat a Burger!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="../../models/burger.js"></script>
	</head>
	<body>
			<img src="../../public/img/burger.png" alt="">

			<h1>Eat-Da-Burger!</h1>

			<form>
				<textarea rows="5" cols="50" name="userBurger" form="userBurger">
				Enter burger here...</textarea>
				<br>
				<input type="submit">
			</form>
	</body>
</html>